.btn{
    background-color: rgb(230, 143, 172);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 45%;
}
.btn:hover{
    background-color: transparent;
    color: black;
}